.coverage
MANIFEST
build
dist
_site
htmlcov
__pycache__
*.egg-info
/venv*/
/.vscode/
/.idea/
/.zed/

/tests/data/planck/
/binh_notebooks
/docs

src/.DS_Store
src/furax/.DS_Store
.DS_Store

# python
*.pyc
*.pyo
*.pyd
*.pytest_cache
